{
	"parser": "babel-eslint",
	"extends": "eslint-config-es5",
	"env": {
		"browser": true,
		"jquery": true,
		"commonjs": true
	},
	"globals": {
		"clientVars": true,
		"WRTC": true,
		"WRTC_Room": true,
		"io": true,
		"browser": true
  },
  "plugins": [
    "es5"
	],
	"rules": {
		"indent": [2, "tab"],
		"quote-props": [2, "as-needed"],
		"no-param-reassign": 0,
		"consistent-return": 0,
		"camelcase": 1,
		"semi": 2,
		"quotes": 2,
		"template-tag-spacing": 2,
		"no-console": [2, { "allow": ["warn", "error", "info"] }],
		"no-multi-spaces": 2,
		"space-in-parens": 2,
		"no-multi-str": 2,
		"block-spacing": 2,
		"no-mixed-spaces-and-tabs": 2,
		"no-trailing-spaces": 2,
		"no-whitespace-before-property": 2,
		"space-before-blocks": 2,
		"space-before-function-paren": 2,
		"space-infix-ops": 2,
		"space-unary-ops": 2,
		"spaced-comment": 2
	}
}