#outerdocbody iframe {
	max-width: 950px!important;
	box-shadow: none!important;
	background: inherit!important;
}

.outerdocbody{
	position: relative;
}

#outerdocbody iframe{
	padding: 0!important;
}

#outerdocbody iframe[name="ace_inner"] {
  margin-bottom: 20px;

}

#innerdocbody{
	width: 100%;
	padding: 40px 55px!important;
	max-width: 885px;
	margin: auto;
	box-shadow: 0 1px 2px rgba(60,64,67,0.15);
	overflow: inherit;
	outline: none;
	min-height: 100vh;
}

#innerdocbody::before{
  content: '';
  position: absolute;
  width: 885px;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: -1;
  border: 1px solid rgb(235 236 237);
  border-right: none;
  border-left: none;
}

chat-inline-icon{
	position: absolute;
	left: -76px;
	margin-top: .04em;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: auto;
}

chat-inline-icon button {
	cursor: pointer;
}

h1,h2,h3,h4,h5,h6, [tag="h1"], [tag="h2"], [tag="h3"], [tag="h4"], [tag="h5"], [tag="h6"]{
  position: relative;
}

/*video icon line*/


@media (max-width: 720px){
	#innerdocbody {
			padding : 15px !important;
	}
}

@media (max-width: 900px) {
	#wbrtc_avatarCol {
		display: none !important;
	}
	#innerdocbody{
		width: 90%;
		padding: 15px 15px 15px 30px!important;
	}
  #innerdocbody::before{
    width: 90%;
  }
	chat-inline-icon{
		left: -50px
	}
}


/* inline avater*/
#wbrtc_avatarCol{
	position: relative;
	height: 100%;
	left: 0;
	right: 0;
	display: flex;
	order: -1;
	flex-direction: column;
	min-width: 100px;
	max-width: 190px;
	/* overflow: hidden; */
	background-color: transparent;
}

.wrtcIconLine{
	position: absolute;
	right: 14px;
}

.wrtc_inlineAvatars{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 8px;
	max-width: 156px;
}

.wrtc_inlineAvatars .avatar,.wrtc_inlineAvatars .avatarMore {
	float:left;
	margin: 0 -8px 0 0;
	position: relative;
	transition: all 0.2s cubic-bezier(0,.71,.47,1.1);
	background-color: #fff;
	display: flex;
	flex-direction: row;
	width: 30px;
	height: 30px;
	border: 2px solid #ddd;
	border-radius: 50%;
	float: left;
	overflow: hidden;
	top:3px;
	cursor: pointer;
}
.wrtc_inlineAvatars:first-child{
	margin: 0;
}
.wrtc_inlineAvatars .avatar{
	align-items: center;
	justify-content: center;
}
.wrtc_inlineAvatars .avatar >div {
	width: 100%;
	height: 100%;
}

.wrtc_inlineAvatars .avatarMore{
	display: none;
}

.wrtc_inlineAvatars > .avatar:hover, .wrtc_inlineAvatars .avatarMore:hover{
	border-color: #2678ff;
	z-index: 1;
	transform: scale(1.2);
}

.wrtc_inlineAvatars .avatarMore:active {
	transform: scale(0.9);
}

.wrtc_inlineAvatars .avatarMore {
	border-style: dashed;
	text-align: center;
	order: -1;
	margin-right: 5px;
	font-family: Quicksand;
	font-weight: bold;
	background: transparent;
	justify-content: center;
	padding-right: 2px;
	border-color: #333;
	cursor: pointer;
}


