#outerdocbody iframe {
	max-width: 950px!important;
	box-shadow: none!important;
	background: inherit!important;
}

.inner-editor{
	padding: 5px 0;
}

.outerdocbody{
	position: relative;
}

#outerdocbody iframe{
	padding: 0!important;
}

#innerdocbody{
	padding: 40px 55px!important;
	max-width: 900px;
	margin: auto;
	box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
	background: #fff;
	overflow: inherit;
}

nd-video{
	display: flex;
	position: relative;
	align-items: center;
}


wrt-inline-icon{
	position: absolute;
	left: -76px;
	margin-top: .7em;
	/* padding: 0!important; */
	/* top: -14px; */
}

/*video icon line*/

@media (max-width: 800px) {
	wrt-inline-icon {
		display: none !important;
	}
}


/* inline avater*/



#wbrtc_avatarCol{
	position: relative;
	height: 100%;
	left: 0;
	right: 0;
	display: flex;
	order: -1;
	flex-direction: column;
	min-width: 100px;
	max-width: 190px;
	/* overflow: hidden; */
}

.wrtcIconLine{
	position: relative;
}

.wrtc_inlineAvatars{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 8px;
	max-width: 156px;
}

.wrtc_inlineAvatars .avatar,.wrtc_inlineAvatars .avatarMore {
	float:left;
	margin: 0 -8px 0 0;
	position: relative;
	transition: all 0.2s cubic-bezier(0,.71,.47,1.1);
	background-color: #fff;
	display: flex;
	flex-direction: row;
	width: 30px;
	height: 30px;
	border: 2px solid #ddd;
	border-radius: 50%;
	float: left;
	overflow: hidden;
	top:3px;
	cursor: pointer;
}
.wrtc_inlineAvatars:first-child{
	margin: 0;
}
.wrtc_inlineAvatars .avatar{
	align-items: center;
	justify-content: center;
}
.wrtc_inlineAvatars .avatar >div {
	width: 100%;
	height: 100%;
}

.wrtc_inlineAvatars .avatarMore{
	display: none;
}

.wrtc_inlineAvatars > .avatar:hover, .wrtc_inlineAvatars .avatarMore:hover{
	border-color: #2678ff;
	z-index: 1;
	transform: scale(1.2);
}

.wrtc_inlineAvatars .avatarMore:active {
	transform: scale(0.9);
}

.wrtc_inlineAvatars .avatarMore {
	border-style: dashed;
	text-align: center;
	order: -1;
	margin-right: 5px;
	font-family: Quicksand;
	font-weight: bold;
	background: transparent;
	justify-content: center;
	padding-right: 2px;
	border-color: #333;
	cursor: pointer;
}


