
/* 
#outerdocbody iframe, #outerdocbody > #innerdocbody{
	padding: 40px 55px!important;
} */

#wrtc_modal{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);	
	width: fit-content;
	max-width: 90%;
	height: auto;
	z-index: 10;
	min-width: 400px;
	font-family: Quicksand, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-style: normal;
	color: #333333;
	font-size: 14px;
	transition: all .3s linear;
	border-radius: 0 0 6px 6px;
	box-shadow: 1px 1px 4px rgb(87, 98, 115, .1);
	border: 1px solid #e6e8e9;
	border-top: none;
	background-color: #fff;
	opacity: 0;
}


#wrtc_modal #networkStatus, 
#wrtc_modal #networkError {
	background: #ddd;
	padding: 4px 10px;
	height: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: -2;
	border-radius: 0 0 4px 4px;
	transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	font-family: monospace;
	font-size: 11px;
	font-weight: bold;
	overflow: hidden;
	opacity: 0;
}

#wrtc_modal #networkError{
	background: rgba(255,15,15,0.8);
	top: 0;
	height: 114px;
	z-index: 8;
	color: #fff;
	padding: 8px;
	display: none;
}

#wrtc_modal #networkStatus.active,
#wrtc_modal #networkError.active {
	bottom: -30px;
	opacity: 1;
}

/*=========toolbar=========*/
#werc_toolbar{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 4px;
	display: flex;
	align-items: center;
	border-top: 1px solid rgb(218, 220, 224);
	font-weight: bold;
	background: inherit;
	z-index: 10;
	position: relative;
	border-radius: 0 0 4px 4px;
}
#werc_toolbar .nd_title, .textChatToolbar .nd_title{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 64%;
	/* flex-grow: 8; */
}
#werc_toolbar .nd_title .fa_video{
	width: 20px;
	margin-bottom: -6px;
}
#werc_toolbar .nd_title .nd_count {
	margin: 0 0 0 0;
}

#werc_toolbar p{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 95%;
	float: left;
	cursor: pointer;
	user-select: none;
}

.btn_controllers{
	width: 30%;
	float: right;
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 1;
	align-items: center;
}


.btn_controllers .btn_leave{
	padding: 1px;
}

.ndbtn{
	padding: 0;
	width: 22px;
	height: 22px;
	outline: none;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* border-radius: 50%; */
	transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ndbtn:hover{

	background-color: #eee;
}
.ndbtn:active {
	color: #2678ff;
}


.buttonicon{
	display: flex;
	justify-content: center;
  align-items: baseline;
}
.buttonicon > i, .btn_toggle_modal i, .btn_reload i{
 
	margin: 0;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12px;
	transform: translate(-50%, -50%);
}

.buttonicon  svg, .btn_toggle_modal i svg {
	width: 100%;
	height: auto;
	display: block;
}

#werc_toolbar i.bnt_expand::before{
	content: "\e840";
	font-size: 16px;
}

#werc_toolbar i.bnt_expand.large::before{
	content: "\e83f";
}

#werc_toolbar span[class*='fa_']{
	width: 13px;
	display: inline-block;
	margin: 0 8px;
	float: right;
	height: 20px;
}

#werc_toolbar .nd_toolbar_toggle{
	overflow: hidden;
	width: 16px;
	height: 20px;
	float: right;
	margin: 0 6px;
}

#werc_toolbar .nd_toolbar_toggle span{
	width: 14px; margin: 0!important;
	display: none;
}

#werc_toolbar .nd_toolbar_toggle span.active{
	display: block;
}

#werc_toolbar span[class*='btn_'] {
	margin: 0 6px;
}

.btn_close, .btn_minus{
	width: 23px;
  display: inline-block;
}

.btn_close .fa-primary, .btn_minus .fa-primary{
	fill: #eee;
}
.btn_close .fa-secondary, .btn_minus .fa-secondary {
	fill: #485365;
}

#editorcontainerbox #editorcontainer{
	flex-direction: column;
}

#editorcontainerbox #editorcontainer iframe{
	height: 100%;
}

#editorcontainer #editor_title{
	display: none!important;
}

#wrtc_modal .videoWrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-height: 90px;
	flex-wrap: wrap;
}

#wrtc_modal.active{
	display: flex;
}

#wrtc_modal > .chatTitle {
	order: -1;
	margin: 20px 4px 10px 4px;
	padding: 6px 10px;
	max-width: 240px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#wrtc_modal.ep_padTitle > .chatTitle {
	display: none;
}

#wrtc_modal .error-msg {
	padding: 10px;
	max-width: 120px;
}
#wrtc_modal .video-container {
	position: relative;
	margin: 4px;
	background-color: #232323;
	display: flex;
	align-items: center;
	justify-content: center;
}
#wrtc_modal video {
	border-bottom: 5px solid;
	box-sizing: border-box;
	background-color: black;
	float: left;
}
#wrtc_modal .video-container,
#wrtc_modal video {
	transition:all .3s linear;
	overflow: hidden;
	border: none;
}

.video-container:hover .interface-btn{
	opacity: 1;
}

.interface-container .latency{
	position: absolute;
	right: 2px;
	padding: 0 4px;
	background: rgba(0,0,0,0.5);
	border-radius: 4px;
	font-size: 10px;
	font-weight: bold;
	/* opacity: 0; */
	transition: all 0.2s linear;
	font-family: monospace;
}



.interface-container {
	display: flex;
	position: absolute;
	z-index: 2;
	top: 4px;
	right: 0;
	width: 100%;
	flex-direction: row;
	align-items: start;
}

.interface-btn {
	background-color: rgba(255, 255, 255, 0.35);
	border-radius: 50%;
	margin: 0 8px;
	cursor: pointer;
	transition: opacity 0.2s, background-color 0.2s;
	color: #333;
	width: 24px;
	height: 24px;
	opacity: 0;
	transition: all .3s linear;
	display: flex;
	align-items: center;
	justify-content: center;
}
.interface-btn:hover {
	opacity: 1;
	background-color: white !important;
}
.interface-btn:before{
	font-size: 16px;
}
.interface-btn.audio-btn:before {
	content: "\e83d";
}
.interface-btn.audio-btn.muted:before {
	content: "\e83e";
}
.buttonicon.close-btn:before{
	content: "\e826"
}
.interface-btn.video-btn:before {
	content: "\e83b";
}
.interface-btn.video-btn.off:before {
	content: "\e83c";
}
.interface-btn.enlarge-btn{
	display: none;
}
.interface-btn.enlarge-btn:before {
	content: "\e840";
}
.interface-btn.settings-btn:before, .btn_videoSetting i:before {
	content: "\e851";
}
.interface-btn.enlarge-btn.large:before {
	content: "\e83f";
}

#wrtc_modal .video-container .user-name {
	transition: opacity 0.2s, background-color 0.2s;
	position: absolute;
	bottom: 0;
	left: 0; 
	right: 0;
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
	line-height: 16px;
	padding-left: 8px;
	color: #111;
	z-index: 5;
	height: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.9em;
	font-family: Quicksand;
}
#wrtc_modal .video-container.local-user {
	order: -1; 
}
#wrtc_modal .video-container:hover .interface-btn,
#wrtc_modal .video-container:hover .user-name,
#wrtc_modal .video-container.local-user .interface-btn {
	background-color: rgba(255, 255, 255, 1);
}
#wrtc_modal .video-container:hover .user-name, #wrtc_modal .video-container:hover .interface-container .latency {
	opacity: 1;
}



/* =========text-chat========= */

.wrtc_text .time { order: 5;}

.wrtc_text .wrtc_roomLink {
	display: inline-block;
	margin: 0 4px;
	text-decoration: underline;
	cursor: pointer;
}

.wrtc_text .videoIcon, .wrtc_text .textIcon,
#wrtc_textChat .textIcon{
	width: 16px;
	display: inline-block;
	margin: 0 2px 0 6px;
	height: 17px;
}
.wrtc_text .videoIcon svg, 
.wrtc_text .textIcon svg,
#wrtc_textChat .textIcon svg {display: inline-block;margin-bottom: -2px;}

/*=== wrtc_settings ===*/

#wrtc_settings{
	width: 240px;
	background-color: #fff;
	position: absolute;
	/* top: 20px;
	left: 20px; */
	border: 1px solid #e6e8e9;
	box-shadow: 1px 1px 4px rgb(87, 98, 115, .1);
	padding: 8px;
	border-radius: 3px;
	z-index: 13;
	opacity: 0;
	visibility: hidden;
	font-family: Quicksand;
	font-style: normal;
	font-size: 14px;
	transform: scale(0.7);
	transition: all 0.3s cubic-bezier(0.74, -0.05, 0.27, 1.75);
}
#wrtc_settings.active {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}

#wrtc_settings label {
	display: block;
	margin: 0 0 6px; 
}
#wrtc_settings select {
	width: 100%;
}

#wrtc_settings > div{
	margin-top: 6px;
}

#wrtc_settings .btn_close, #wrtc_settings .btn_info{
	float: right;
	width: 25px;
	height: 25px;
	padding: 0;
	outline: none;
	margin-left: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s linear;
}

.wrtc_info{
	border-radius: 6px;
	display:none;
	width: 300px;
	overflow: auto;
	background: #69d88acf;
	color: black;
	z-index: 9000;
	font-size: 12px;
	font-family: monospace;
	padding: 10px;
	font-weight: bold;
	position: absolute;
	left: 0;
	box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}

#wrtc_settings button:hover{
	background: #eee;
}


/* textChat */
#wrtc_textChatWrapper{
	position: fixed;
	width: 80%;
	height: 200px;
	background-color: white;
	box-shadow: -1px 0px 2px rgb(87, 98, 115, .1), 1px 7px 2px rgb(87, 98, 115, .1);
	border: 1px solid #e6e7e7;
	z-index: 900;
	border-radius: 6px 6px 0 0;
	border-bottom: none;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: all 0.3s linear;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
	font-family: Quicksand, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-style: normal;
	color: #333333;
	font-size: 14px;
	min-width: 500px;
}

#wrtc_textChatWrapper.active {
	transform: translate(-50%, 0);
	opacity: 1;
	visibility: visible;
}


.textChatToolbar {
	padding: 4px 8px;
	border-bottom: 1px solid  rgb(218, 220, 224);
	font-weight: bold;
	display: flex;
	align-items: center;
	display: flex;
	align-items: center;
}
.textChatToolbar .chatIcon {
	width: 19px;
	display: inline-block;
	margin-right: 8px;
	line-height: 0;
}

.textChatToolbar b{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 80%;
	cursor: pointer;
	user-select: none;
}

#wrtc_textChat{
	order: 1;
	width: 1;
	flex-grow: 9;
	padding: 7px 0;
	overflow-y: auto;
}

#wrtc_textChat p {
	padding: 4px 10px;
	background-color: #fff;
	color: #485365;
}
#wrtc_textChat .time{
	float: left ;
	margin-right: 7px;
	background-color: #fff;
	color: #485365 ;
	font-style: italic;
  font-size: .85rem;
  opacity: .8;
}


#wrtc_textChatInputBox{
	order: 2;
	flex-grow: 1;
	padding: 7px;
	border-top: 1px solid #ccc;
	max-height: 50px;
}
#wrtc_textChatInputBox input{
	width: 100%;
}
.titleWrapper{
	display: flex;
	align-items: center;
}
.titleWrapper:hover + #textChatUserModal{
	/* display: block; */
}

#textChatUserModal:hover{
	/* display: block; */

}
#textChatUserModal{
	min-width: 250px;
	max-width: 320px;
	min-height: 36px;
	max-height: 156px;
	position: absolute;
	background: #fff;
	top: 25px;
	overflow-y: auto;
	left: 6px;
	border: 1px solid #dadce0;
	border-radius: 6px;
	box-shadow: 1px 1px 8px rgb(87, 98, 115, .1);
	display: none;
	transition: all 0.3s linear;
	z-index: 1;
}


.wrtc_box .wrtc_header {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 6px 4px;
	justify-content: start;
}

.wrtc_box .wrtc_contentBody .wrtc_header{
	border-top: 1px solid #ddd;
}

.wrtc_box .wrtc_header .btn_icon{
	outline: none;
	width: 26px;
	height: 26px;
	padding: 0 6px;
	margin-right: 4px;
	transition: all .2s linear;
	display: flex;
	align-items: center;
	color: #333333;

}
.wrtc_box .wrtc_header .btn_icon svg{
	width: 16px;
	height: 16px;
}

.wrtc_box .wrtc_wrapper{
	width: 100%;
	display: flex;
	align-items: center;
}

.wrtc_box .wrtc_contentBody .wrtc_content{
	min-height: 20px;
	padding: 6px 4px;
}

.wrtc_box .wrtc_contentBody .wrtc_content li .avatar,
.wrtc_inlineAvatars .avatar, .wrtc_inlineAvatars > .avatarMore {
	width: 24px;
	border: 2px solid #ddd;
	height: 24px;
	border-radius: 50%;
	float: left;
	margin: 0 5px 0 0;
	overflow: hidden;
}
.wrtc_inlineAvatars .avatar{
	align-items: center;
	justify-content: center;
}
/* .wrtc_box .wrtc_contentBody .wrtc_content li .avatar img,
.wrtc_inlineAvatars .avatar img{
	width: auto;
	height: 100%;
	border-radius: 50%;
} */
.wrtc_box .wrtc_contentBody .wrtc_content li .avatar > div,
.wrtc_inlineAvatars .avatar > div{
	width: 100%;
	height:100%;
}

.wrtc_box .wrtc_contentBody .wrtc_content ul {
	list-style-type: decimal;
}

.wrtc_box .wrtc_contentBody .wrtc_content ul > li {
	border-right: 6px solid transparent;
	margin-bottom: 4px;
	line-height: 22px;
}

/* inline avater*/
.wrtc_inlineAvatars{
	display: flex;
	flex-direction: row;
	margin: 0 8px 0 0;
	padding-left: 8px;
	max-width: 220px;
}

.wrtc_inlineAvatars > .avatar, .wrtc_inlineAvatars > .avatarMore {
	float:left;
	margin: 0 0 0 -8px;
	position: relative;
	transition: all 0.2s cubic-bezier(0,.71,.47,1.1);
	background-color: #fff;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	outline: none;
}
.wrtc_inlineAvatars > .avatar img{
	float: left;
}
.wrtc_inlineAvatars:first-child{
	margin: 0;
}
.wrtc_inlineAvatars > .avatar:hover, .wrtc_inlineAvatars .avatarMore:hover{
	border-color: #2678ff;
	z-index: 1;
	transform: scale(1.2);
}

.wrtc_inlineAvatars .avatarMore {
	border-style: dashed;
	text-align: center;
	order: -1;
	margin-right: 12px;
	font-family: Quicksand;
	font-weight: bold;
	background: transparent;
	justify-content: center;
	padding-right: 2px;
	border-color: #333;
}

/* #chatbox{
	display: none!important;
}

#editorcontainer, #editorcontainer > iframe{
	padding: 0!important;
} */
