#wrtc_modal{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);	max-width: 90%;
	height: auto;
	z-index: 99999;
	min-width: 400px;
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-style: normal;
	color: rgb(32, 33, 36);
	font-size: 14px;
	transition: all .3s;
	border-radius: 0 0 6px 6px;
	box-shadow: 1px 1px 4px rgb(87, 98, 115, .1);
	border: 1px solid #e6e8e9;
	border-top: none;
	background-color: #fff;
	opacity: 0;
}

/*=========toolbar=========*/
#werc_toolbar{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 4px;
	display: flex;
	align-items: center;
	border-top: 1px solid rgb(218, 220, 224);
}
#werc_toolbar .nd_title{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-grow: 8;
}
#werc_toolbar .nd_title .fa_video{
	width: 16px;
	margin-bottom: -5px;
}
#werc_toolbar .nd_title .nd_count {
	margin: 0 0 0 0;
}

#werc_toolbar p{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 70%;
	float: left;
	margin-left: 6px;
	cursor: pointer;
}

.btn_controllers{
	width: 30%;
	min-width: 130px;
	float: right;
}

.btn_controllers span{
	cursor: pointer;
}

#werc_toolbar span.bnt_expand{
	float: right;
	margin: 0 4px;
}

#werc_toolbar span.bnt_expand::before{
	content: "\e840";
	font-size: 16px;
}

#werc_toolbar span.bnt_expand.large::before{
	content: "\e83f";
}

#werc_toolbar span[class*='fa_']{
	width: 13px;
	display: inline-block;
	margin: 0 8px;
	float: right;
	height: 20px;
}

#werc_toolbar .nd_toolbar_toggle{
	overflow: hidden;
	width: 16px;
	height: 20px;
	float: right;
	margin: 0 6px;
}

#werc_toolbar .nd_toolbar_toggle span{
	width: 14px; margin: 0!important;
	display: none;
}

#werc_toolbar .nd_toolbar_toggle span.active{
	display: block;
}

#werc_toolbar span[class*='btn_'] {
	margin: 0 6px;
}

.btn_close, .btn_minus{
	width: 23px;
  display: inline-block;
}

.btn_close .fa-primary, .btn_minus .fa-primary{
	fill: #eee;
}
.btn_close .fa-secondary, .btn_minus .fa-secondary {
	fill: #485365;
}

#editorcontainerbox #editorcontainer{
	flex-direction: column;
}

#editorcontainerbox #editorcontainer iframe{
	height: 100%;
}

#editorcontainer #editor_title{
	display: none!important;
}

#wrtc_modal .videoWrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-height: 90px;
	flex-wrap: wrap;
}

#wrtc_modal.active{
	display: flex;
}

#wrtc_modal > .chatTitle {
	order: -1;
	margin: 20px 4px 10px 4px;
	padding: 6px 10px;
	max-width: 240px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#wrtc_modal.ep_padTitle > .chatTitle {
	display: none;
}

#wrtc_modal .error-msg {
	padding: 10px;
	max-width: 120px;
}
#wrtc_modal .video-container {
	position: relative;
	margin: 4px;
	background-color: #232323;
	display: flex;
	align-items: center;
	justify-content: center;
}
#wrtc_modal video {
	border-bottom: 5px solid;
	box-sizing: border-box;
	background-color: black;
	float: left;
}
#wrtc_modal .video-container,
#wrtc_modal video {
	transition:all .3s linear;
	overflow: hidden;
	border: none;
}

.video-container:hover .interface-btn{
	opacity: 1;
}

.interface-container {
	display: flex;
	position: absolute;
	z-index: 2;
	top: 4px;
	right: 0;
	width: 100%;
	flex-direction: row;
	align-items: start;
}

.interface-btn {
	background-color: rgba(255, 255, 255, 0.35);
	border-radius: 50%;
	padding: 3px;
	margin: 0 8px;
	cursor: pointer;
	transition: opacity 0.2s, background-color 0.2s;
	color: #333;
	width: 24px;
	height: 24px;
	opacity: 0;
	transition: all .3s linear;
	
}
.interface-btn:hover {
	opacity: 1;
	background-color: white !important;
}
.interface-btn:before{
	font-size: 14px;
}
.interface-btn.audio-btn:before {
	content: "\e83d";
}
.interface-btn.audio-btn.muted:before {
	content: "\e83e";
}
.buttonicon.close-btn:before{
	content: "\e826"
}
.interface-btn.video-btn:before {
	content: "\e83b";
}
.interface-btn.video-btn.off:before {
	content: "\e83c";
}
.interface-btn.enlarge-btn{
	display: none;
}
.interface-btn.enlarge-btn:before {
	content: "\e840";
}
.interface-btn.settings-btn:before {
	content: "\e851";
}
.interface-btn.enlarge-btn.large:before {
	content: "\e83f";
}
#wrtc_modal .video-container .user-name {
	transition: opacity 0.2s, background-color 0.2s;
	position: absolute;
	bottom: 0;
	left: 0; 
	right: 0;
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
	line-height: 16px;
	padding-left: 8px;
	color: #111;
	z-index: 5;
	height: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.9em;
	font-family: Quicksand;
}
#wrtc_modal .video-container.local-user {
	order: -1; 
}
#wrtc_modal .video-container:hover .interface-btn,
#wrtc_modal .video-container:hover .user-name,
#wrtc_modal .video-container.local-user .interface-btn {
	background-color: rgba(255, 255, 255, 1);
}
#wrtc_modal .video-container:hover .user-name {
	opacity: 1;
}

/* =========text-chat========= */

.wrtc_text .time { order: 5;}

.wrtc_text .wrtc_roomLink {
	display: inline-block;
	margin: 0 4px;
	text-decoration: underline;
	cursor: pointer;
}

.wrtc_text .videoIcon{
	width: 16px;
	display: inline-block;
	margin: 0 2px 0 6px;
	height: 17px;
}
.wrtc_text .videoIcon svg {display: inline-block;margin-bottom: -2px;}

/*=== wrtc_settings ===*/

#wrtc_settings{
	width: 240px;
	background-color: #fff;
	position: absolute;
	top: 20px;
	left: 20px;
	border: 1px solid;
	padding: 10px;
	border-radius: 3px;
	z-index: 13;
	opacity: 0;
	visibility: hidden;
	font-family: Quicksand;
	font-style: normal;
	font-size: 14px;
	transform: scale(0.7);
	transition: all 0.3s cubic-bezier(0.74, -0.05, 0.27, 1.75);
}
#wrtc_settings.active {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}

#wrtc_settings label {
	display: block;
	margin: 0 0 6px; 
}
#wrtc_settings select {
	width: 100%;
}

#wrtc_settings > div{
	margin-top: 6px;
}

#wrtc_settings .btn_close{
	float: right;
	width: 25px;
	height: 25px;
	padding: 0;
	outline: none;
}


/* textChat */
#wrtc_textChatWrapper{
	position: fixed;
	bottom: 25px;
	right: 22px;
	width: 400px;
	height: 200px;
	background-color: white;
	z-index: 100000;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 10px rgb(204, 204, 204, .6);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	font-family: Quicksand;
	font-style: normal;
	opacity: 0;
	transform: scale(0.7);
	transition: all 0.3s cubic-bezier(0.74, -0.05, 0.27, 1.75);
}

#wrtc_textChatWrapper.active {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}


.textChatToolbar {
	padding: 4px 8px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	display: flex;
	align-items: center;
	cursor: move;
}
.textChatToolbar .chatIcon {
	width: 19px;
	display: inline-block;
	margin-right: 6px;
	line-height: 0;
}

.textChatToolbar b{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 220px;
	margin-left: 5px;
}

#wrtc_textChat{
	order: 1;
	width: 1;
	flex-grow: 9;
	padding: 7px 0;
	overflow-y: auto;
}

#wrtc_textChat p {
	padding: 4px 10px;
	background-color: #fff;
	color: #485365;
}
#wrtc_textChat .time{
	float: left ;
	margin-right: 7px;
	background-color: #fff;
	color: #485365 ;
	font-style: italic;
  font-size: .85rem;
  opacity: .8;
}


#wrtc_textChatInputBox{
	order: 2;
	flex-grow: 1;
	padding: 7px;
	border-top: 1px solid #ccc;
	max-height: 50px;
}
#wrtc_textChatInputBox input{
	width: 100%;
}

