#rtcbox {
	display: none;
	padding: 0;
	order: -1;
}

#editorcontainerbox #editorcontainer{
	flex-direction: column;
}

#editorcontainerbox #editorcontainer iframe{
	height: 100%;
}

#editorcontainer #editor_title{
	display: none!important;
}

#rtcbox .videoWrapper{
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 0;
	box-sizing: border-box;
	background-color: transparent;
	height: auto;
	overflow: auto;
  flex-shrink: 0;
}

#rtcbox.active{
	display: flex;
}

#rtcbox > .chatTitle {
	order: -1;
	margin: 20px 4px 10px 4px;
	padding: 6px 10px;
	max-width: 240px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#rtcbox.ep_padTitle > .chatTitle {
	display: none;
}

#rtcbox .error-msg {
	padding: 10px;
	max-width: 120px;
}
#rtcbox .video-container {
	position: relative;
	margin: 0 8px
}
/* #rtcbox .video-container:not(:first-child) {
	margin-top: 5px;
} */
#rtcbox video {
	border-bottom: 5px solid;
	box-sizing: border-box;
	background-color: black;
}
#rtcbox .video-container,
#rtcbox video {
	border-radius: 3px;
	transition: max-width 0.3s, max-height 0.3s, width 0.3s, height 0.3s;
	overflow: hidden;
}

.video-container:hover .interface-btn{
	opacity: 1;
}

.interface-container {
	display: flex;
	position: absolute;
	z-index: 2;
	bottom: 8px;
	left: 0;
}
.interface-btn {
	background-color: rgba(255, 255, 255, 0.35);
	border-radius: 50%;
	padding: 1px;
	margin: 0 7px;
	cursor: pointer;
	transition: opacity 0.2s, background-color 0.2s;
	color: #333;
	width: 22px;
	height: 22px;
	opacity: 0;
	transition: all .3s linear;
	
}
.interface-btn:hover {
	opacity: 1;
	background-color: white !important;
}
.interface-btn:before{
	font-size: 13px;
}
.interface-btn.audio-btn:before {
	content: "\e83d";
}
.interface-btn.audio-btn.muted:before {
	content: "\e83e";
}

.interface-btn.video-btn:before {
	content: "\e83b";
}
.interface-btn.video-btn.off:before {
	content: "\e83c";
}
.interface-btn.enlarge-btn{
	display: none;
}
.interface-btn.enlarge-btn:before {
	content: "\e840";
}
.interface-btn.enlarge-btn.large:before {
	content: "\e83f";
}

#rtcbox .video-container .user-name {
	transition: opacity 0.2s, background-color 0.2s;
	position: absolute;
	top: 0;
	left: 0; 
	right: 0;
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.7);
	font-weight: bold;
	line-height: 16px;
	padding-left: 8px;
	color: #111;
	z-index: 5;
	height: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.9em;
	font-family: Quicksand;
}
#rtcbox .video-container.local-user {
	order: -1; 
}
#rtcbox .video-container:hover .interface-btn,
#rtcbox .video-container:hover .user-name,
#rtcbox .video-container.local-user .interface-btn {
	background-color: rgba(255, 255, 255, 1);
}
#rtcbox .video-container:hover .user-name {
	opacity: 1;
}

@media (max-width: 1600px) {
	#rtcbox > .chatTitle{
		width: 280px;
    position: absolute;
		top: -38px;
		margin: 0;
		background: #f8f9fa;
	}

	#rtcbox:not(.ep_padTitle) {
		flex-direction: row;
		flex-shrink: 0;
		order: 2;
		justify-content: start;
		align-items: baseline;
		display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    background: #eee;
	} 

	#rtcbox .video-container:not(:first-child) {
		margin-top: 0;
		margin-left: 5px;
	}
	#rtcbox .videoWrapper{
		flex-direction: row;
	}
}

@media (min-width: 1600px) {
	#rtcbox.active:not(.ep_padTitle){
		display: block;
		position: absolute;
		left: 0;
		top: 80px;
    height: 100%;
		top: 0;
	}
}

.wrtc_text .time { order: 5;}

.wrtc_text .wrtc_roomLink {
	display: inline-block;
	margin: 0 4px;
	text-decoration: underline;
	cursor: pointer;
}

.wrtc_text .videoIcon{
	width: 16px;
	display: inline-block;
	margin: 0 2px 0 6px;
	height: 17px;
}
.wrtc_text .videoIcon svg {display: inline-block;margin-bottom: -2px;}


/* ============= primaryHeader =============== */

#primaryHeader {
	position: relative; display: flex; align-items: stretch;
	background-color: #fff; border-bottom: 1px solid #ccc;
	font-family: Quicksand;font-style: normal;font-weight: bold;
}

#primaryHeader #rtcbox.active {
	display: flex;justify-content: start; order: 2; flex-grow: 8;
	background-color: #fff; padding-left: 20px; width: calc(100% - 400px);
}
#primaryHeader #rtcbox .videoWrapper {
	width: 100%; justify-content: center;
}

#primaryHeader .videoIcon {
	float: left; margin-right: 6px; width: 14px; display: inline-block; margin-top: 2px;
}

#primaryHeader #pad_title > a { 
	height: 100%;align-items: center;display: flex; width: 64px;
	justify-content: center; 
} 
#primaryHeader #pad_title .logo {padding: 0; margin: 2px 0; transition: all .3s ease-in-out; }
#primaryHeader #pad_title.f_wrtcActive .logo {width: 55px; margin: 0 0; }
#primaryHeader #pad_title { 
	flex-grow: 1; order: 1; flex-direction: row; display: flex;
	align-items: center; border: none!important;padding: 0;
}

#primaryHeader #wrtc_roomInfo .RoomTitle {
	max-width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}

#primaryHeader #wrtc_roomInfo {
	font-size: 12px; line-height: 15px;
}

#primaryHeader #wrtc_roomInfo button {
	margin: 0; padding: 0 4px; margin-left: 10px; outline: none;
}

#primaryHeader #wrtc_roomInfo p {
	float: left; margin: 0 8px 0 0;
}

#primaryHeader #title {
	max-width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 4px;
}
