#rtcbox {
	display: none;
	padding: 0;
	order: -1; /* on left side */

}

#editorcontainerbox #editorcontainer{
	flex-direction: column;
}

#editorcontainerbox #editorcontainer iframe{
	height: 100%;
}

#editorcontainer .editor_title{
	display: none;
}


#rtcbox .videoWrapper{
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 0;
	box-sizing: border-box;
	background-color: transparent;
	height: auto;
	overflow: auto;
  flex-shrink: 0;
}

#rtcbox.active{
	display: flex;
}

#rtcbox > .chatTitle {
	order: -1;
	margin: 20px 4px 10px 4px;
	padding: 6px 10px;
	max-width: 240px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	/* background: #fff; */
	/* border-radius: 8px 6px 6px 8px; */
	/* box-shadow: 1px 1px 3px rgba(0,0,0,0.1); */
}

#rtcbox .error-msg {
	padding: 10px;
	max-width: 120px;
}
#rtcbox .video-container {
	position: relative;
}
#rtcbox .video-container:not(:first-child) {
	margin-top: 5px;
}
#rtcbox video {
	border-left: 5px solid;
	box-sizing: border-box;
	background-color: black;
}
#rtcbox .video-container,
#rtcbox video {
	border-radius: 0 3px 3px 0;
	transition: max-width 0.3s, max-height 0.3s, width 0.3s, height 0.3s;
}

.interface-container {
	display: flex;
	position: absolute;
	z-index: 2;
	bottom: 8px;
	left: 8px;
}
.interface-btn {
	background-color: rgba(255, 255, 255, 0.35);
	border-radius: 50%;
	padding: 5px;
	margin-right: 6px;
	cursor: pointer;
	transition: opacity 0.2s, background-color 0.2s;
	color: #333;
	width: 28px;
	height: 28px;
}
.interface-btn:hover {
	opacity: 1;
	background-color: white !important;
}
.interface-btn.audio-btn:before {
	content: "\e83d";
}
.interface-btn.audio-btn.muted:before {
	content: "\e83e";
}

.interface-btn.video-btn:before {
	content: "\e83b";
}
.interface-btn.video-btn.off:before {
	content: "\e83c";
}

.interface-btn.enlarge-btn:before {
	content: "\e840";
}
.interface-btn.enlarge-btn.large:before {
	content: "\e83f";
}

#rtcbox .video-container .user-name {
	transition: opacity 0.2s, background-color 0.2s;
	position: absolute;
	top: 0;
	left: 5px; /* border-width */
	right: 0;
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
	line-height: 20px;
	padding-left: 8px;
	color: #111;
	z-index: 5;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#rtcbox .video-container.local-user {
	order: -1; /* first position */
}
#rtcbox .video-container:hover .interface-btn,
#rtcbox .video-container:hover .user-name,
#rtcbox .video-container.local-user .interface-btn {
	background-color: rgba(255, 255, 255, 1);
	opacity: 1;
}
#rtcbox .video-container:hover .user-name {
	opacity: 1;
}

@media (max-width: 1600px) {
	 /* #editorcontainerbox {
		flex-direction: column;
	} */
	#rtcbox > .chatTitle{
		width: 280px;
    position: absolute;
		top: -38px;
		margin: 0;
		background: #f8f9fa;
	}

	#rtcbox {
		flex-direction: row;
		flex-shrink: 0;
		order: 2;
		justify-content: start;
		align-items: baseline;
		display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    background: #eee;
	}
	#rtcbox .video-container:not(:first-child) {
		margin-top: 0;
		margin-left: 5px;
	}
	#rtcbox .videoWrapper{
		flex-direction: row;
	}
}

@media (min-width: 1600px) {
	#rtcbox.active{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.txt_shareLink{
	background: #eee;
	padding: 0 10px;
	margin: 0 4px;
	color: black;
	float: right;
	border: 1px solid;
	border-radius: 3px;
	float: right;
}

#chattext .videoIcon{
	width: 17px;
	display: inherit;
	float: left;
	margin: 2px 6px 0 0;
	height: 17px;
}