/* Comment right side container */
#wbrtc_chatBox {
	order: -1;
	position: relative;
	z-index: 20;
	left: 30px;
	overflow: hidden;
	width: 24px;
}

#wbrtc_chatBox:hover {
	overflow: initial;
}

@media (max-width: 1500px) {
	#wbrtc_chatBox {
		order: -1;
	}
}

#wbrtc_chatBox:not(.active) {
	display: none;
}
@media (max-width: 800px) {
	#wbrtc_chatBox {
		display: none !important;
	}
}

/* WRTC Heading */
.wbrtc_roomBox {
	background: transparent;
	border-radius: 3px;
	position: absolute;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	/* margin-left: 14px; */
	width: 100%;
	max-width: 360px;
	min-width: 230px;
}


.wbrtc_roomBox > .wbrtc_roomBoxHeader {
	padding: 6px;
	overflow: hidden;
	line-height: 15px;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.wbrtc_roomBox.active {
	background: #ffffff;
	z-index: 2;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

/* .wbrtc_roomBox > .wbrtc_roomBoxHeader .headTitle {
	display: none;
	width: 100%;
} */

.wrtc_box .wrtc_header {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	/* align-items: baseline; */
	width: 100%;
	padding: 6px 3px 2px;
	justify-content: start;
}

.wrtc_box .wrtc_contentBody .wrtc_header{
	border-top: 1px solid #ddd;
}

.wrtc_box .wrtc_header .btn_icon{
	outline: none;
	width: 20px;
	height: 20px;
	padding: 0 2px;
	margin-right: 4px;
}

.wrtc_box .wrtc_header b {	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 160px;
	display: inline-block;
}

.wrtc_box .wrtc_header .shareLink{
	float: right;
	padding: 0 4px;
}

.wrtc_box .wrtc_wrapper{
	width: 100%;
}

#wbrtc_chatBox .wrtc_box .wrtc_contentBody, #wbrtc_chatBox .wrtc_wrapper{
	display: none;
}

.wrtc_box .wrtc_contentBody .wrtc_header .shareLink {
	display: none;
}

.wrtc_box .wrtc_contentBody:hover .wrtc_header .shareLink {
	display: block;
}

.wrtc_box .wrtc_contentBody .wrtc_content{
	min-height: 20px;
	padding: 6px 4px;
}

.wrtc_box .wrtc_contentBody .wrtc_content li.empty{
	color: #cccccc;
}
.wrtc_box .wrtc_contentBody .wrtc_content li.empty button{
	padding: 0;
	line-height: inherit;
	font-size: 11px;
	display: inline;
}
.wrtc_box .wrtc_contentBody .wrtc_content li.empty b{
	color: #2678ff;
	text-decoration: underline;
	cursor: pointer;
}

.wrtc_box .wrtc_contentBody .wrtc_content ul {
	list-style-type: decimal;
}

.wrtc_box .wrtc_contentBody .wrtc_content ul > li {
	border-right: 6px solid transparent;
	margin-bottom: 4px;
}

.wbrtc_roomBox .btn_joinChat_chatRoom.active

.wbrtc_roomBox .shareLink:hover{
	color: #78909c;
}
.wbrtc_roomBox .btn_joinChat_chatRoom:hover,
.wbrtc_roomBox .btn_joinChat_chatRoom.active{
	color: #2678ff;
}
.wbrtc_roomBox .btn_joinChat_video:hover{
	color: #f44336;
}
.wbrtc_roomBox .btn_joinChat_text:hover{
	color: #4caf50;
}
/* .wbrtc_roomBox > .wbrtc_roomBoxFooter {
	padding: 8px;
	display: none;
}

.wbrtc_roomBox > .wbrtc_roomBoxFooter .btn_share {
	border: 1px solid;
	padding: 5px 8px;
	float: right;
} */

/* .wbrtc_roomBoxBody {
	padding: 8px;
	border-top: 1px solid #f2f3f4;
	border-bottom: 1px solid #f2f3f4;
	display: none;
}

 */

/* .wbrtc_roomBox > .wbrtc_roomBoxFooter > button.active {
	background: #64d29b;
	color: #ffffff;
}
.wbrtc_roomBox > .wbrtc_roomBoxFooter > button.deactivate{
	background: #576273;
}


.wbrtc_roomBox > .wbrtc_roomBoxFooter > button {
	border-radius: 3px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	line-height: 9px;
	outline: none;
} */

.wbrtc_roomBox .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
