.outerdocbody{
	position: relative;
}

nd-video{
	display: block;
}

/*video icon line*/
#wrtcVideoIcons{
	order: -1;
	position: relative;
	z-index: 20;
	/* left: -56px; */
	height: 100%;
	display: flex;
	flex-direction: column;
}
#wrtcVideoIcons:hover {
	overflow: initial;
}
#wrtcVideoIcons:not(.active) {
	display: none;
}

@media (max-width: 800px) {
	#wrtcVideoIcons {
		display: none !important;
	}
}

#wrtcVideoIcons > .wrtcIconLine{
	position: absolute;
	right: -24px;
	display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: center;
}

.wrtcIconLine .wrtcIcon > button {
	border: 1px solid #e6e8e9;
	border-radius: 50%;
	background: #fff;
	box-shadow: 1px 1px 8px #e6e8e9;
	margin: 5px;
	outline: none;
	width: 40px;
	height: 40px;
	padding: 0 6px;
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	display: flex;
	align-items: center;
	color: #333333;
	justify-content: center;
}

.wrtcIconLine.active .wrtcIcon > button svg{
	color: #2678ff;
}

.wrtcIconLine .wrtcIcon > button:hover{
	background-color: #2678ff;
	color: #fff;
	border-radius: 100%;
}

.wrtcIconLine .wrtcIcon > button > svg {
	width: 16px;
	height: 16px;
}

.wrtcLineAvatar{
	order: -1;
}

.wrtcIconLine .loader {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	animation: spin 2s linear infinite;
	padding: 16px;
	position: absolute;
	z-index: 2;
	background: transparent;
	left: -1px;
	top: -1px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* inline avater*/
.wrtc_inlineAvatars{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 8px;
	max-width: 156px;
}

.wrtc_inlineAvatars .avatar,.wrtc_inlineAvatars .avatarMore {
	float:left;
	margin: 0 -8px 0 0;
	position: relative;
	transition: all 0.2s cubic-bezier(0,.71,.47,1.1);
	background-color: #fff;
	display: flex;
	flex-direction: row;
	width: 30px;
	height: 30px;
	border: 2px solid #ddd;
	border-radius: 50%;
	float: left;
	overflow: hidden;
	top:3px;
	cursor: pointer;
}
.wrtc_inlineAvatars:first-child{
	margin: 0;
}
.wrtc_inlineAvatars .avatar{
	align-items: center;
	justify-content: center;
}
.wrtc_inlineAvatars .avatar >div {
	width: 100%;
	height: 100%;
}

.wrtc_inlineAvatars .avatarMore{
	display: none;
}

.wrtc_inlineAvatars > .avatar:hover, .wrtc_inlineAvatars .avatarMore:hover{
	border-color: #2678ff;
	z-index: 1;
	transform: scale(1.2);
}

.wrtc_inlineAvatars .avatarMore:active {
	transform: scale(0.9);
}

.wrtc_inlineAvatars .avatarMore {
	border-style: dashed;
	text-align: center;
	order: -1;
	margin-right: 5px;
	font-family: Quicksand;
	font-weight: bold;
	background: transparent;
	justify-content: center;
	padding-right: 2px;
	border-color: #333;
	cursor: pointer;
}
