/* Comment right side container */
#wbrtc_chatBox {
	order: -1;
	position: relative;
	z-index: 20;
	/* left: 44px; */
	left: 16px;
	overflow: hidden;
	width: 32px;
}

#wbrtc_chatBox:hover {
	overflow: initial;
}

@media (max-width: 1500px) {
	#wbrtc_chatBox {
		order: -1;
	}
}

#wbrtc_chatBox:not(.active) {
	display: none;
}
@media (max-width: 800px) {
	#wbrtc_chatBox {
		display: none !important;
	}
}

/* WRTC Heading */
.wbrtc_roomBox {
	background: transparent;
	border-radius: 3px;
	position: absolute;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	/* margin-left: 14px; */
	color: #333333;
	width: 100%;
	max-width: 390px;
	min-width: 260px;
}


.wbrtc_roomBox.active .wrtc_wrapper{
	display: flex!important;
}

.wbrtc_roomBox > .wbrtc_roomBoxHeader {
	padding: 6px;
	overflow: hidden;
	line-height: 16px;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.wbrtc_roomBox.active {
	background: #ffffff;
	z-index: 2;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

/* .wbrtc_roomBox > .wbrtc_roomBoxHeader .headTitle {
	display: none;
	width: 100%;
} */

.wrtc_box .wrtc_header {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	/* align-items: baseline; */
	width: 100%;
	padding: 6px 3px 2px;
	justify-content: start;
}

.wrtc_box .wrtc_contentBody .wrtc_header{
	border-top: 1px solid #ddd;
}

.wrtc_box .wrtc_header .btn_icon.plusIcon {
	border: 1px solid #e6e8e9;
	border-radius: 50%;
	background: #fff;
	box-shadow: 1px 1px 12px #e6e8e9;
} 

.wrtc_box .wrtc_header .btn_icon{
	outline: none;
	/* width: 26px;
	height: 26px; */
	width: 28px;
	height: 28px;
	padding: 0 6px;
	margin-right: 4px;
	transition: all .2s linear;
	display: flex;
	align-items: center;
	color: #333333;
}
.wrtc_box .wrtc_header .btn_icon svg{
	width: 16px;
	height: 16px;
}

.wrtc_box .wrtc_header .btn_icon.btn_joinChat_chatRoom:hover{
	background-color: #2678ff;
	color: #fff;
	border-radius: 100%;
}


.wrtc_box .wrtc_header .btn_icon.btn_joinChat_chatRoom:active{
	color: inherit;
	background-color: inherit;
}


.wrtc_box .wrtc_header b {	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 188px;
	display: inline-block;
	line-height: 22px;
}

.wrtc_box .wrtc_header .shareLink{
	margin-left: auto;
}

.wrtc_box .wrtc_wrapper{
	width: 100%;
	display: flex;
	align-items: center;
}

#wbrtc_chatBox .wrtc_box .wrtc_contentBody, #wbrtc_chatBox .wrtc_wrapper{
	display: none;
}

.wrtc_box .wrtc_contentBody .wrtc_header .shareLink {
	display: none;
}

.wrtc_box .wrtc_contentBody:hover .wrtc_header .shareLink {
	display: flex;

}

.wrtc_box .wrtc_contentBody .wrtc_content{
	min-height: 20px;
	padding: 6px 4px;
}

.wrtc_box .wrtc_contentBody .wrtc_content li .avatar {
	width: 24px;
	border: 2px solid #ddd;
	height: 24px;
	border-radius: 100%;
	float: left;
	margin: 0 5px 0 0;
	overflow: hidden;
}

.wrtc_box .wrtc_contentBody .wrtc_content li .avatar img{
	width: 100%;
	height: auto;
}

.wrtc_box .wrtc_contentBody .wrtc_content li.empty{
	color: #cccccc;
}
.wrtc_box .wrtc_contentBody .wrtc_content li.empty button{
	padding: 0;
	line-height: inherit;
	font-size: 11px;
	display: inline;
}
.wrtc_box .wrtc_contentBody .wrtc_content li.empty b{
	color: #2678ff;
	text-decoration: underline;
	cursor: pointer;
}

.wrtc_box .wrtc_contentBody .wrtc_content ul {
	list-style-type: decimal;
}

.wrtc_box .wrtc_contentBody .wrtc_content ul > li {
	border-right: 6px solid transparent;
	margin-bottom: 4px;
	line-height: 22px;
}

.wbrtc_roomBox .btn_joinChat_chatRoom.active

.wbrtc_roomBox .shareLink:hover{
	color: #78909c;
}
.wbrtc_roomBox .btn_joinChat_chatRoom:hover,
.wbrtc_roomBox .btn_joinChat_chatRoom.active{
	color: #2678ff;
}


.wrtc_box .wrtc_header .btn_icon.btn_joinChat_video:hover,
.wrtc_box .wrtc_header .btn_icon.btn_joinChat_text:hover{
	background-color: #2678ff;
	color: #fff;
	border-radius: 100%;
}


.wrtc_box .wrtc_header .btn_icon.btn_joinChat_video:active,
.wrtc_box .wrtc_header .btn_icon.btn_joinChat_text:active{
	color: inherit;
	background-color: inherit;
}

.wbrtc_roomBox .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.outerdocbody{
	position: relative;
}

/* TODO: remove this one */



#wbrtc_avatarCol{
	position: absolute;
	height: 100%;
	left: 40px;
	display: flex;
	order: -2;
	flex-direction: column;
	/* overflow: hidden; */
}


.wrtc_roomInlineAvatar {
	position: absolute;
	width: 156px;
	margin-top: 8px
}



/* inline avater*/
.wrtc_inlineAvatars{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 8px;
	max-width: 220px;
}

.wrtc_inlineAvatars .avatar,.wrtc_inlineAvatars .avatarMore {
	float:left;
	margin: 0 -8px 0 0;
	position: relative;
	transition: all 0.2s cubic-bezier(0,.71,.47,1.1);
	background-color: #fff;
	display: flex;
	flex-direction: row;
	width: 24px;
	border: 2px solid #ddd;
	height: 24px;
	border-radius: 50%;
	float: left;
	overflow: hidden;
}
.wrtc_inlineAvatars  .avatar img{
	float: left;
}
.wrtc_inlineAvatars:first-child{
	margin: 0;
}

.wrtc_inlineAvatars .avatar img{
	width: auto;
	height: 100%;
}

.wrtc_inlineAvatars .avatarMore{
	display: none;
}

.wrtc_inlineAvatars > .avatar:hover, .wrtc_inlineAvatars .avatarMore:hover{
	border-color: #2678ff;
	z-index: 1;
	transform: scale(1.2);
}

.wrtc_inlineAvatars .avatarMore:active {
	transform: scale(0.9);
}

.wrtc_inlineAvatars .avatarMore {
	border-style: dashed;
	text-align: center;
	order: -1;
	margin-right: 5px;
	font-family: Quicksand;
	font-weight: bold;
	background: transparent;
	justify-content: center;
	padding-right: 2px;
	border-color: #333;
	cursor: pointer;
}

