/* Comment right side container */
#wbrtc_chatBox {
	order: -1;
	position: relative;
	z-index: 20;
	/* left: -72px; */
	overflow: hidden;
	width: 66px;
}

#wbrtc_chatBox:hover {
	overflow: initial;
}

@media (max-width: 1500px) {
	#wbrtc_chatBox {
		order: -1;
	}
}

#wbrtc_chatBox:not(.active) {
	display: none;
}
@media (max-width: 800px) {
	#wbrtc_chatBox {
		display: none !important;
	}
}

/* WRTC Heading */
.wbrtc_roomBox {
	background: transparent;
	border-radius: 3px;
	position: absolute;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	/* margin-left: 14px; */
	width: 100%;
	max-width: 360px;
	min-width: 230px;
}


.wbrtc_roomBox > .wbrtc_roomBoxHeader {
	padding: 6px;
	overflow: hidden;
	line-height: 15px;
}

.wbrtc_roomBox.active {
	background: #ffffff;
	z-index: 2;
	border: 1px solid;
}

.wbrtc_roomBox > .wbrtc_roomBoxHeader b {
	display: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	max-width: 124px;
}

.wbrtc_roomBox > .wbrtc_roomBoxHeader .btn_share{
	width: 18px;
	float: right;
}

.wbrtc_roomBox > .wbrtc_roomBoxHeader span.videoIcon{
	width: 18px;
	margin-right: 8px;
}
.wbrtc_roomBox > .wbrtc_roomBoxHeader span.videoIcon.active{
	color: #2678ff;
}

.wbrtc_roomBox > .wbrtc_roomBoxHeader span:last-of-type{
	margin-right: 8px
}

.wbrtc_roomBox > .wbrtc_roomBoxHeader span {
	display: inherit;
	float: left;
}

.wbrtc_roomBox > .wbrtc_roomBoxFooter {
	padding: 8px;
	display: none;
}

.wbrtc_roomBox > .wbrtc_roomBoxFooter .btn_share {
	border: 1px solid;
	padding: 5px 8px;
	float: right;
}

.wbrtc_roomBoxBody {
	padding: 8px;
	border-top: 1px solid #f2f3f4;
	border-bottom: 1px solid #f2f3f4;
	display: none;
}

.wbrtc_roomBoxBody ul {
	list-style-type: decimal;
}

.wbrtc_roomBoxBody ul > li {
	border-right: 6px solid transparent;
	margin-bottom: 4px;
}

.wbrtc_roomBox > .wbrtc_roomBoxFooter > button.active {
	background: #64d29b;
	color: #ffffff;
}
.wbrtc_roomBox > .wbrtc_roomBoxFooter > button.deactivate{
	background: #576273;
}


.wbrtc_roomBox > .wbrtc_roomBoxFooter > button {
	border-radius: 3px;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	line-height: 9px;
	outline: none;
}

.wbrtc_roomBox .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
