<script src="../static/plugins/ep_wrtc_heading/static/js/jquery.tmpl.min.js"></script>

<script id="wrtc_textChatBox" type="text/html">
	<div id="wrtc_textChatWrapper">
		<div id="wrtc_textChat">
			<p data-authorid="a.hcnqFZeNoqvs593T" class="author-a-hcnqz70zz90zez78zoqvs593z84z"><b>The Other Name:</b><span class="time author-a-hcnqz70zz90zez78zoqvs593z84z">15:51</span> Hello Man</p>
			<p data-authorid="a.hcnqFZeNoqvs593T" class="author-a-hcnqz70zz90zez78zoqvs593z84z"><b>The Other Name:</b><span class="time author-a-hcnqz70zz90zez78zoqvs593z84z">16:48</span> dasdasd</p>
			<p data-authorid="a.hcnqFZeNoqvs593T" class="author-a-hcnqz70zz90zez78zoqvs593z84z"><b>The Other Name:</b><span class="time author-a-hcnqz70zz90zez78zoqvs593z84z">15:52</span> What's up?</p>
		</div>
		<div id="wrtc_textChatInputBox">
			<input type="text" maxlength="999" placeholder="Write your message here">
		</div>
	</div>
</script>

<script id="wertc_roomBox" type="text/html">
	<div class='wbrtc_roomBox' data-x="${positionLeft}" data-y="${positionTop}" id="${headingTagId}" style="top:${positionTop}px">
	    <div class='wbrtc_roomBoxHeader'>
	        <span class="videoIcon">
	            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="video" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-video fa-w-18 fa-2x"><path fill="currentColor" d="M336.2 64H47.8C21.4 64 0 85.4 0 111.8v288.4C0 426.6 21.4 448 47.8 448h288.4c26.4 0 47.8-21.4 47.8-47.8V111.8c0-26.4-21.4-47.8-47.8-47.8zm189.4 37.7L416 177.3v157.4l109.6 75.5c21.2 14.6 50.4-.3 50.4-25.8V127.5c0-25.4-29.1-40.4-50.4-25.8z" class=""></path></svg>
	        </span>
	        <span class="userCount">0</span><span>/${videoChatLimit}</span>
					<b>${headTitle}</b>
	    </div>
	    <div class='wbrtc_roomBoxBody'>
	        <ul></ul>
	    </div>
	    <div class='wbrtc_roomBoxFooter'>
					<button class="active btn_door" data-headid="${headingTagId}" data-userId="${userId}" data-action="JOIN">JOIN</button>
					<button class="btn_share" data-url="url">
						<b>copy url</b>
						<input type="hidden" class="headingUrl" value="${url}">
					</button>
	    </div>
	</div>
</script>

<script id="wertc_modal_toolbar" type="text/html">
	<div id="werc_toolbar">
		<div class="nd_title">
			<span class="fa_video">              
				<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M336.2 64H47.8C21.4 64 0 85.4 0 111.8v288.4C0 426.6 21.4 448 47.8 448h288.4c26.4 0 47.8-21.4 47.8-47.8V111.8c0-26.4-21.4-47.8-47.8-47.8zm189.4 37.7L416 177.3v157.4l109.6 75.5c21.2 14.6 50.4-.3 50.4-25.8V127.5c0-25.4-29.1-40.4-50.4-25.8z" class=""></path></svg>         
			</span>
			<span class="nd_count">2</span><span>/${videoChatLimit}</span>
			<p>Welcome to New Etherpad!</p>
		</div>
		<div class="btn_controllers">
			<span class="fa_times btn_leave" data-action="LEAVE" title="LEAVE session">
				<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z" class=""></path></svg>
			</span>
			<span class="bnt_expand buttonicon" active="true"></span>
			<div class="nd_toolbar_toggle">
				<span class="fa_arrow-from-top btn_toggle_modal" data-action="expand">
					<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><g class="fa-group"><path fill="currentColor" d="M24 32h336a23.94 23.94 0 0 1 24 24v16a23.94 23.94 0 0 1-24 24H24A23.94 23.94 0 0 1 0 72V56a23.94 23.94 0 0 1 24-24z" class="fa-secondary"></path><path fill="currentColor" d="M327.87 286.52l17.06 17a23.86 23.86 0 0 1 0 33.91L209 473a24 24 0 0 1-34 0L39.07 337.43a23.86 23.86 0 0 1 0-33.91l17.06-17a24 24 0 0 1 34 0l65.81 65.61V152A24 24 0 0 1 180 128h24.08a24 24 0 0 1 24.07 24v200.13L294 286.52a23.9 23.9 0 0 1 33.87 0z" class="fa-primary"></path></g></svg>
				</span>
				<span class="fa_arrow-to-top btn_toggle_modal active" data-action="collapse" title="TOGGLE session modal">
					<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><g class="fa-group"><path fill="currentColor" d="M24 32h336a23.94 23.94 0 0 1 24 24v16a23.94 23.94 0 0 1-24 24H24A23.94 23.94 0 0 1 0 72V56a23.94 23.94 0 0 1 24-24z" class="fa-secondary"></path><path fill="currentColor" d="M56.13 321.48l-17.06-17a23.86 23.86 0 0 1 0-33.91L175 135.05a24 24 0 0 1 34 0l135.93 135.52a23.86 23.86 0 0 1 0 33.91l-17.06 17a24 24 0 0 1-34 0l-65.81-65.61V456A24 24 0 0 1 204 480h-24.09a24 24 0 0 1-24.07-24V255.87L90 321.48a23.9 23.9 0 0 1-33.87 0z" class="fa-primary"></path></g></svg>
				</span>
			</div>
		</div>
	</div><!-- werc_toolbar -->

	<div id="wrtc_settings">
		<button class="btn_close"><i class="buttonicon close-btn"></i></button>
		<h2 style="color: #7f8794;margin-bottom: 15px;">Camera Settings</h2>
		<div class="select">
			<label for="audioSource">Audio input source: </label><select id="audioSource"></select>
		</div>

		<div class="select">
				<label for="videoSource">Video source: </label><select id="videoSource"></select>
		</div>
	</div><!-- wrtc_settings -->
</script>