<script src="../static/plugins/ep_wrtc_heading/static/js/jquery.tmpl.min.js"></script>

<script id="wertc_roomBox" type="text/html">
	<div class='wbrtc_roomBox' data-x="${positionLeft}" data-y="${positionTop}" id="${headingTagId}" style="top:${positionTop}px">
	    <div class='wbrtc_roomBoxHeader'>
	        <span class="videoIcon">
	            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="video" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-video fa-w-18 fa-2x"><path fill="currentColor" d="M336.2 64H47.8C21.4 64 0 85.4 0 111.8v288.4C0 426.6 21.4 448 47.8 448h288.4c26.4 0 47.8-21.4 47.8-47.8V111.8c0-26.4-21.4-47.8-47.8-47.8zm189.4 37.7L416 177.3v157.4l109.6 75.5c21.2 14.6 50.4-.3 50.4-25.8V127.5c0-25.4-29.1-40.4-50.4-25.8z" class=""></path></svg>
	        </span>
	        <span class="userCount">0</span><span>/${videoChatLimit}</span>
					<b>${headTitle}</b>
	    </div>
	    <div class='wbrtc_roomBoxBody'>
	        <ul></ul>
	    </div>
	    <div class='wbrtc_roomBoxFooter'>
					<button class="active btn_door" data-headid="${headingTagId}" data-userId="${userId}" data-action="JOIN">JOIN</button>
					<button class="btn_share" data-url="url">
						<b>copy url</b>
						<input type="hidden" class="headingUrl" value="${url}">
					</button>
	    </div>
	</div>
</script>

<script id="wertc_modal_toolbar" type="text/html">
	<div id="werc_toolbar">
		<div class="nd_title">
			<span class="fa_video">              
				<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M336.2 64H47.8C21.4 64 0 85.4 0 111.8v288.4C0 426.6 21.4 448 47.8 448h288.4c26.4 0 47.8-21.4 47.8-47.8V111.8c0-26.4-21.4-47.8-47.8-47.8zm189.4 37.7L416 177.3v157.4l109.6 75.5c21.2 14.6 50.4-.3 50.4-25.8V127.5c0-25.4-29.1-40.4-50.4-25.8z" class=""></path></svg>         
			</span>
			<span class="nd_count">2</span><span>/${videoChatLimit}</span>
			<p>Welcome to New Etherpad!</p>
		</div>
		<div class="btn_controllers">
			<button class="ndbtn btn_leave" data-action="LEAVE" title="LEAVE session">
				<i class="buttonicon close-btn" style="height: 19px;"></i>
			</button>
			<button class="ndbtn btn_enlarge" active="true" title="Enlarge the videos">
				<i class="buttonicon bnt_expand" style="height: 18px;"></i>
			</button>
			<button class="ndbtn btn_toggle_modal" data-action="collapse">
				<i class="fa_arrow-to-top" style="display:block">
					<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-to-top" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-arrow-to-top fa-w-12 fa-2x"><path fill="currentColor" d="M35.5 279.9l148-148.4c4.7-4.7 12.3-4.7 17 0l148 148.4c4.7 4.7 4.7 12.3 0 17l-19.6 19.6c-4.8 4.8-12.5 4.7-17.1-.2L218 219.2V468c0 6.6-5.4 12-12 12h-28c-6.6 0-12-5.4-12-12V219.2l-93.7 97.1c-4.7 4.8-12.4 4.9-17.1.2l-19.6-19.6c-4.8-4.7-4.8-12.3-.1-17zM12 84h360c6.6 0 12-5.4 12-12V44c0-6.6-5.4-12-12-12H12C5.4 32 0 37.4 0 44v28c0 6.6 5.4 12 12 12z" class=""></path></svg>				
				</i>
				<i class="fa_arrow-from-top" style="display:none">
					<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-from-top" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-arrow-from-top fa-w-12 fa-2x"><path fill="currentColor" d="M348.5 328.1l-148 148.4c-4.7 4.7-12.3 4.7-17 0l-148-148.4c-4.7-4.7-4.7-12.3 0-17l19.6-19.6c4.8-4.8 12.5-4.7 17.1.2l93.7 97.1V140c0-6.6 5.4-12 12-12h28c6.6 0 12 5.4 12 12v248.8l93.7-97.1c4.7-4.8 12.4-4.9 17.1-.2l19.6 19.6c4.9 4.7 4.9 12.3.2 17zM12 84h360c6.6 0 12-5.4 12-12V44c0-6.6-5.4-12-12-12H12C5.4 32 0 37.4 0 44v28c0 6.6 5.4 12 12 12z" class=""></path></svg>				
				</i>
			</button>
		</div>
	</div><!-- werc_toolbar -->

	<div id="wrtc_settings">
		<button class="btn_close"><i class="buttonicon close-btn"></i></button>
		<h2 style="color: #7f8794;margin-bottom: 15px;">Camera Settings</h2>
		<div class="select">
			<label for="audioSource">Audio input source: </label><select id="audioSource"></select>
		</div>

		<div class="select">
				<label for="videoSource">Video source: </label><select id="videoSource"></select>
		</div>
	</div><!-- wrtc_settings -->
</script>