<script id="wrtcLinesIcons" type="text/html">
	<div class='wrtcIconLine ${headingTagId}' data-line="${lineNumber}" data-x="${positionLeft}" data-y="${positionTop}" id="${headingTagId}" style="top:${positionTop}px">
		<div class="wrtcIcon">
			<button class="plusIcon btn_icon btn_roomHandler" data-action="JOIN" data-id="${headingTagId}" data-join="PLUS">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M336.2 64H47.8C21.4 64 0 85.4 0 111.8v288.4C0 426.6 21.4 448 47.8 448h288.4c26.4 0 47.8-21.4 47.8-47.8V111.8c0-26.4-21.4-47.8-47.8-47.8zm189.4 37.7L416 177.3v157.4l109.6 75.5c21.2 14.6 50.4-.3 50.4-25.8V127.5c0-25.4-29.1-40.4-50.4-25.8z"></path></svg>					
			</button>
		</div><!--wrtcIcon-->
		<div class="wrtcLineAvatar">
			<div class="wrtc_inlineAvatars">
				<div class="avatarMore"></div>
				<!-- <div class="avatar" data-id="a.ib7JEFKi05HMIk2M"><div title="Anonymous" style="background: url('/p/getUserProfileImage/a.ib7JEFKi05HMIk2M/demo?t=1609760462106') no-repeat 50% 50% ; background-size : cover;"></div></div>
				<div class="avatar" data-id="a.ib7JEFKi05HMIk2M"><div title="Anonymous" style="background: url('/p/getUserProfileImage/a.ib7JEFKi05HMIk2M/demo?t=1609760462106') no-repeat 50% 50% ; background-size : cover;"></div></div>
				<div class="avatar" data-id="a.ib7JEFKi05HMIk2M"><div title="Anonymous" style="background: url('/p/getUserProfileImage/a.ib7JEFKi05HMIk2M/demo?t=1609760462106') no-repeat 50% 50% ; background-size : cover;"></div></div>
				<div class="avatar" data-id="a.ib7JEFKi05HMIk2M"><div title="Anonymous" style="background: url('/p/getUserProfileImage/a.ib7JEFKi05HMIk2M/demo?t=1609760462106') no-repeat 50% 50% ; background-size : cover;"></div></div> -->
			</div>
		</div><!--wrtcLineAvatar-->
	</div><!--wrtcIconLine-->
</script><!--wrtcLinesIcons-->